<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body class="bg-gray-100">

    <div class="flex justify-between items-center bg-white p-4 shadow-md">
        <h1 class="text-2xl font-bold text-gray-700">Student Dashboard</h1>
        <div class="flex space-x-4">
            <button onclick="window.location.href='/student/openings'"
            class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
            Openings
        </button>
            <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700">Applications</button>
            <button onclick="window.location.href='/student/profile'"
            class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700">
            Profile
        </button>
        
        </div>
    </div>

</body>
</html>
