<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Management</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

    <nav class="w-full bg-blue-600 p-4 shadow-md">
        <h1 class="text-white font-semibold text-2xl">Placements Drive Management</h1>
    </nav>

    <div class="mt-10 text-center">
        <h2 class="text-2xl font-semibold text-gray-800">Welcome to the Placement Management System</h2>
        <div class="mt-6">
            <img id="preview-image" src="/images/placements_drive_image.jpeg" alt="App Image"
                class="w-72 h-72 rounded-lg border-2 border-gray-300 object-cover mx-auto">
        </div>
        <div class="mt-8">
            <button id="login-btn"
                class="bg-blue-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-blue-600 cursor-pointer">
                Go to Login
            </button>
        </div>

    </div>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <script src="/javascripts/home.js"></script>
</body>

</html>